# pnpm / Node
node_modules/
.pnpm-store/
pnpm-lock.yaml
.npmrc

# Vite / Vue / Build
dist/
dist-ssr/
*.log
coverage/

# Turborepo 缓存
.turbo/

# Storybook
.storybook/cache/
.storybook/public/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Env / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# create-db local config
apps/quiz-backend/.env.create-db.local


# Test artifacts
test-results/
playwright-report/
blob-report/

# Optional: 如果你用 Docker 或其他工具
Dockerfile*
docker-compose*

# MacOS 系统文件
.AppleDouble
.LSOverride
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 其他常见缓存
.nyc_output/
*.tsbuildinfo
*.cache
.eslintcache
.prettiercache